################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Bb]in
[Oo]bj
/packages
/Nuget
/NugetTest
/Logo Legal
/TestResults
/.vs
