pre, code, tt {
	font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.4;
	font-weight: 400;
	color: rgb(0, 0, 0);
	border-radius: 2px;
	font-size: 1.2em;
}

pre {
	box-sizing: border-box;
	margin: 0 0 1.75em 0;
	width: 100%;
	padding: 10px;
	white-space: pre;
	overflow: auto;
	border-color: black;
	border-width: 1px;
	border-radius: 3px;
	background-color: #f5f5f5;
	font-size: 1em;

	code, tt {
		font-size: inherit;
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0
	}
}

blockquote > code,
li > code,
p > code {
	white-space: nowrap;
}
