.site-icon {
  margin: 6px;
  height: 40px;
  width: 40px;
}

#patch {
  border-radius: 3px;
  background: linear-gradient(#D90000, #B90000);
  font-size: 14px;
  color: white;
  padding: 3px 5px 3px 5px;
  text-shadow: 1px 1px #000000;
}

#feature {
  border-radius: 3px;
  background: linear-gradient(#00C94A, #009938);
  font-size: 14px;
  color: white;
  padding: 3px 5px 3px 5px;
  text-shadow: 1px 1px #000000;
}

#break {
  border-radius: 3px;
  background: black;
  font-size: 14px;
  color: white;
  padding: 3px 5px 3px 5px;
  text-shadow: 1px 1px #000000;
}

#trello {
  border-radius: 3px;
  background: linear-gradient(#298FCA, #026AA7);
  font-size: 14px;
  color: white;
  padding: 3px 5px 3px 5px;
  text-shadow: 1px 1px #000000;
}

.image-row {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;   
  flex-wrap: wrap;
}

.image-row a {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
