<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Manatee.Json" version="2.8.0.2" targetFramework="net40" />
  <package id="Manatee.StateMachine" version="1.1" targetFramework="net40" />
  <package id="RestSharp" version="105.0.1" targetFramework="net40" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
</packages>