<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Manatee.Json" version="2.4.1" targetFramework="net40" />
  <package id="Manatee.StateMachine" version="1.1" targetFramework="net40" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net40" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
</packages>