<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Manatee.Json" version="5.0.0" targetFramework="net45" />
  <package id="Manatee.StateMachine" version="1.1.2" targetFramework="net40" requireReinstallation="True" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
</packages>