<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net40" />
  <package id="Manatee.Json" version="3.1.3" targetFramework="net40" />
  <package id="Manatee.StateMachine" version="1.1.2" targetFramework="net40" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net40" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
</packages>